body{
    margin: 0;
    font-family: 'Roboto';
}
img{
    max-width: 100%;
}
header{
    background-color: #3a7dfd;
    padding-top: 59px;
    padding-bottom: 22px;
    color: #ffffff;
}

.header-pretitle{
    padding-top: 102px;
    font-size: 18px;
}

.header-title{
    font-size: 48px;
    line-height: 46.81px;
    margin-top: 21px;
}

.header-subtitle{
    font-size: 18px;
    margin-top: 20px;
}

.header-button{
    display: inline-block;
    text-decoration: none;
    margin-top: 33px;
    width: 200px;
    height: 50px;
    box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
    border-radius: 25px;
    background-color: #ffffff;
    color: #072b6f;
    font-size: 18px;
    font-weight: 700;
    
}

header small{
    display: block;
    text-align: center;
}

.header-button-block{
    max-width: 200px;
}
.portfolio{
    background-color: #dddddd;
    padding-top: 44px;
    padding-bottom: 71px;
}
.portfolio-block{
    background-color: #fff;
    padding-top: 29px;
    padding-bottom: 41px;
}
.portfolio-title, .portfolio-subtitle{
    text-align: center;
}
.portfolio-title{
    color: #072b6f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.portfolio-subtitle{
    color: #7bb9ff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}
.portfolio-col1{
    padding-left: 51px;
}
.portfolio-col2{
    padding-right: 49px;
}
.portfolio-block h3{
color: #072b6f;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
}
.portfolio-text{
color: #8f8f8f;
font-size: 14px;
font-weight: 400;
}
.portfolio-block a{
color: #072b6f;
font-size: 14px;
font-weight: 400;
text-decoration: underline;
}

footer{
    background-color: #3a7dfd;
    color: #fefefe;
    padding-top: 60px;
    padding-bottom: 110px;
    font-size: 18px;
}
.footer-author{
    margin-bottom: 7px;
    font-size: 24px;
}
.social-block{
    text-align: center;
}
.social-block a {
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px;
}
.footer-cta-block{
    text-align: center;
}
.footer-cta{
    margin-bottom: 13px;
}
.footer-button{
    display: inline-block;
    width: 165px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #fff;
    padding: 12px 40px;
    font-size: 18px;
}

@media (max-width: 1200px){
    .header-pretitle{
        padding-top: 60px;
        font-size: 18px;
}

@media (max-width: 992px)  {
    .header-img{
        display: none;
    }
    .header-pretitle{
        padding-top: 10px;
        font-size: 18px;
    }
    .footer-author{
        font-size: 18px;
    }
    .footer-text{
        font-size: 14px;
    }
    .social-block a{
        margin-left: 5px;
        margin-right: 5px;
    }
    .social-block img{
        width: 35px;
    }
    .footer-button{
        font-size: 14px;
        padding: 8px 35px;
    }
}

@media (max-width: 768px){
    .portfolio-col1{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
    }
    .portfolio-col2{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-author,.footer-text{
        text-align: center;
    }
}